#Sublime Text artefacts
*.sublime-project
*.sublime-workspace

#Visual Studio Code artefacts
*.code-workspace

#Artefacts from testing compiled .exe
KeyBuddy-Ark/KB.txt
KeyBuddy-Ark/pr-splash.jpg
KeyBuddy-Ark/pr-togg.jpg
KeyBuddy-Ark/robotic-48.ico

